#cont {
width: 95%;
margin: auto;
}

#top {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-row-gap: 4px;
grid-column-gap: 10px;
}

#top>div:nth-child(1) {
grid-row-start: 1;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 3;
}

#top img {
width: 100%;
}
#reserve{height: 45px; border-bottom: 1.5px solid slategrey;
display: flex; justify-content: space-between;
}
#reserve>div:nth-child(1){  width: 40%;
display: flex; justify-content: space-around;
}
#res{
height: 35px; padding: 0px 40px; margin-top: 3px; margin-right: 15px; background-color: rgba(0, 0, 255, 0.884);
border-radius: 10px; border: none; color: white;
}

.menu{
    color: rgb(60, 68, 75);
    padding: 0px 12px;
}
.menu:hover{
    color: rgba(0, 0, 255, 0.884);
border-bottom: 2px solid rgba(0, 0, 255, 0.884);
}
#main{
display: flex;
margin-top: 20px;
justify-content: space-between;
}
#main>div{
width: 40%;
}
#main img{
width: 100%;
margin-top: 30px;
border-radius: 10px;
}

#date{
    display: flex;
}
#date>div{
    width: 30%;
}

#in,#out{
    height: 40px;
    width: 60%;
    border-radius: 10px;
    border: 1.5px solid grey;
}
#in:hover,#out:hover{
    border: 1.5px solid blue;
    color: blue;
}

#room{
    display: flex; justify-content: space-between;
    margin-top: 40px;
}
#room>div{
    width: 23.5%;
    border-radius: 10px;
    border: 1px solid grey;
}
#room>div>div{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey;
}
#room img:nth-child(1){
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#room h3, #room p{
    margin-left: 22px;
}
#room p:hover{
    color: blue;
}
#room h1{
    margin-left: 10px;
}
.but{
height: 35px; padding: 0px 40px; margin-top: 35px; margin-right: 15px; background-color: rgba(0, 0, 255, 0.884);
border-radius: 10px; border: none; color: white;
}
.but:hover,#res:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#footer{
margin-top: 30px;
padding: 20px 0px;
background-color: rgba(245, 245, 220, 0.671);
}
#footer h1{
    margin-left: 80px;
}
#footer>div{
    display: flex; justify-content: space-evenly;
}
#footer p:hover{
    color: blue;
    text-decoration: underline;
}

#division{
    display: flex;
    justify-content: space-between;
}

.iconic{
    display: flex;
}
.iconi{
    display: flex;
    height: 40px;
}
.iconi p{
    padding-top: 22px;
    padding-left: 10px;
}
.icon {
    width: 30px;
}
.icon img{
    width: 100%;
}
.iconic p{
    padding-top: 23px;
    padding-left: 10px;
}

#popup{ height: 80vh;
    width: 70%; margin: auto; border: 1px solid salmon; position: absolute;
    margin-top: 80px; margin-left: 200px;
    background-color: white;
    padding-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: none;
}

#disp{
    display: flex;
    justify-content: space-evenly;
}

#disp>div{
    width: 40%;
    border-radius: 10px;
    border: 1px solid slategray;
    padding: 20px 30px;
    margin-top: 30px;
}

#popup h1{
    margin-left: 20px;
}
#refund{
 margin-top: 32px;
}
#close:hover{
    background-color: rgb(255, 30, 0);
    border-radius: 5px;
}